:root {
  --first-color: #212121;
  --second-color: #2196f3;
  --third-color: #000000;
  --fourth-color: #757575;
  --fifth-color: #2f303a;
  --sixth-color: #eeeeee;
  --seventh-color: #f5f4fa;
  --eigth-color: #ececec;
  --ningth-color: #e5e5e5;
  --tenth-color: #ffffff;
  --eleventh-color: #ffffff99;
  --twelfth-color: #afb1b8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--ninght-color);
  color: var(--first-color);
}
.container {
  width: 100%;
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ececec solid 1px;
}
.navigation {
  display: flex;
}

.top-line {
  background-color: var(--tenth-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration: none;
  margin-right: 93px;
}
.blue {
  color: var(--second-color);
}
.navigation-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.menu-link {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--first-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active {
  position: relative;
  color: var(--second-color);
}
.is-active::after {
  content: '';
  position: absolute;
  display: block;
  width: 53px;
  height: 4px;
  bottom: -32px;
  background-color: var(--second-color);
  border-radius: 2px;
}
.navigation-links li:not(:last-child) {
  margin-right: 46px;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--second-color);
}
.contact-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.contact-list li:not(:last-child) {
  margin-right: 50px;
}
.contact {
  color: var(--fourth-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list .contact:hover,
.contact-list .contact:focus {
  color: var(--second-color);
}
.contact-icon:hover,
.contact-info:focus {
  color: var(--second-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--fifth-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  width: 700px;
}
.primary-heading {
  color: var(--tenth-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.order-button {
  color: var(--tenth-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--second-color);
  border: none;
  border-radius: 4px;
  padding: 10px 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  background-color: var(--tenth-color);
  color: var(--second-color);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--tenth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.modal-button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--tenth-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second-section-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.second-section-item {
  display: inline;
}
.second-section-list > .second-section-item:not(:last-child) {
  margin-right: 30px;
}
.lorem-icons {
  background-color: var(--seventh-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 102px;
}
.second-section-headings {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 10px;
}
.second-section-text {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
  display: flex;
}
.third-section {
  background-color: var(--ninght-color);
}
.third-section-heading {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -94px;
}
.third-section-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.third-section-item > img {
  display: block;
}
.third-section-item {
  position: relative;
  display: inline-block;
}

.third-section-label {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 0;
  color: var(--tenth-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.fourth-section {
  background-color: var(--seventh-color);
}
.fourth-section-heading {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 46px;
}
.fourth-section-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.fourth-section-item {
  display: inline-block;
  background-color: var(--tenth-color);
  max-width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member-name {
  color: var(--first-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: center;
}
.team-member-position {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 10px;
}
.social-media-team-box {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
.social-icon-team-link {
  display: block;
  padding: 12px;
  background: var(--tenth-color);
  border-radius: 50%;
  color: var(--twelfth-color);
  transition: background, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-team {
  display: block;
  fill: currentColor;
}
.social-icon-team-link:hover,
.social-icon-team-link:focus {
  background: var(--second-color);
  color: var(--tenth-color);
}

.fifth-section-heading {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.clients-list-link {
  padding: 16px 32px;
  outline: 1px solid var(--twelfth-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: var(--twelfth-color);
  transition: color, outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  display: block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--second-color);
  outline-color: var(--second-color);
}
.footer-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--fifth-color);
}
.company-info li {
  list-style-type: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-style: normal;
}
.white {
  color: var(--tenth-color);
}
.address-info {
  font-style: inherit;
}
.company-contacts {
  display: grid;
  row-gap: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.localization-info {
  color: var(--tenth-color);
  margin-top: 20px;
}
.contact-info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-contacts .contact-info:hover,
.company-contacts .contact-info:focus,
.company-contacts .contact-info:active {
  color: var(--second-color);
}
.projects-list {
  margin-bottom: 50px;
  width: 580px;
}
.filter-item {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 8px;
}
.filter {
  background-color: #f5f4fa;
  min-height: 38px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-grid {
  display: flex;
  padding-top: 0;
}
.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
}
.portfolio-grid-shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-grid-shadow:hover,
.portfolio-grid-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-grid-shadow:hover .overlay {
  transform: translatey(0);
}
.box {
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--tenth-color);
  padding: 49px 45px 49px 24px;
}

.border-box {
  border-left: var(--sixth-color) solid 1px;
  border-right: var(--sixth-color) solid 1px;
  border-bottom: var(--sixth-color) solid 1px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  overflow: hidden;
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-title {
  color: var(--first-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-item-name {
  color: var(--fourth-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.filter-item button:hover,
.filter-item button:focus {
  background-color: var(--second-color);
  color: var(--tenth-color);
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-box {
  display: inline-block;
  justify-content: center;
  margin-left: 70px;
}
.footer-social-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tenth-color);
  margin-bottom: 20px;
}
.social-media-list {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.social-footer-link {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--tenth-color);
  padding: 12px;
  cursor: pointer;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  display: block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  color: var(--tenth-color);
  background-color: var(--second-color);
}
.newsletter-box {
  margin-left: 78px;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.newsletter-heading {
  text-transform: uppercase;
  color: var(--tenth-color);
  width: 207px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.newsletter-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  width: 358px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-input:hover,
.newsletter-input:active,
.newsletter-input:focus {
  border: 1px solid var(--second-color);
  outline: none;
}

.newsletter-button {
  width: 200px;
  height: 50px;
  background: var(--second-color);
  color: var(--tenth-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
.modal-title {
  color: var(--first-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--fourth-color);
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  background: var(--tenth-color);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--fourth-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.modal-icon {
  fill: var(--first-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 40px;
  left: 15px;
  transform: translateY(-50%);
}
.form-label .modal-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus-within .form-input {
  border-color: var(--second-color);
  outline: none;
}

.field:hover .form-input {
  border-color: var(--second-color);
  outline: none;
}
.field:hover .modal-icon {
  fill: var(--second-color);
}

.field:focus-within .modal-icon {
  fill: var(--second-color);
}

.modal-comment-input {
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field .modal-comment-input:hover,
.field .modal-comment-input:focus {
  border-color: var(--second-color);
  outline: none;
}

.modal-form-button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 76px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tenth-color);
}
.form-statement {
  position: relative;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  margin-bottom: 30px;
  margin-left: 14px;
  padding-left: 7px;
}
.form-statement-checkbox {
  opacity: 0;
}
.check-icon {
  visibility: hidden;
  display: block;
  fill: var(--tenth-color);

}

.border-checkbox {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color);
  border-radius: 2px;
  margin-right: 7px;
  transition:all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-statement-checkbox:checked + .border-checkbox{
  background-color: var(--second-color);
  border:none;
  outline: none;
}

.form-statement-checkbox:checked + .border-checkbox > .check-icon {
  visibility: visible;}


.rule-link {

  text-decoration-line: underline;
  color: var(--second-color);}


