/* -------VARS---------------- */
:root {
  --first-color: #212121;
  --second-color: #2196f3;
  --third-color: #000000;
  --fourth-color: #757575;
  --fifth-color: #2f303a;
  --sixth-color: #eeeeee;
  --seventh-color: #f5f4fa;
  --eigth-color: #ececec;
  --ningth-color: #e5e5e5;
  --tenth-color: #ffffff;
  --eleventh-color: #ffffff99;
  --twelfth-color: #afb1b8;
}
/* -----------GLOBALS------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--ninght-color);
  color: var(--first-color);
}
.container {
  width: 100%;
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------GLOBALS END------------------- */
/*------ HEADER-----*/
.header {
  border-bottom: #ececec solid 1px;
}
.container--header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tenth-color);
}
/* ---------------HEADER-END------------ */

/*------ NAVIGATION -------*/
.main-nav {
  display: flex;
}
.main-nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.main-nav__menu-link {
  font-style: normal;
  color: var(--first-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 46px;
}

.main-nav_menu-link--underline {
  position: relative;
  color: var(--second-color);
}
.main-nav_menu-link--underline::after {
  content: '';
  position: absolute;
  display: block;
  width: 53px;
  height: 4px;
  bottom: -32px;
  background-color: var(--second-color);
  border-radius: 2px;
}
.main-nav__menu-link:hover,
.main-nav__menu-link:focus,
.main-nav__menu-link:active {
  color: var(--second-color);
}
/* ------NAVIGATION END----------- */

/* -------CONTACT-LIST------------ */
.contact-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.contact-list__item {
  color: var(--fourth-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 50px;
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list .contact-list__item:hover,
.contact-list .contact-list__item:focus {
  color: var(--second-color);
}

.contact-list__icon:hover,
.contact-list__icon:focus {
  color: var(--second-color);
}
/* -------CONTACT-LIST------------ */

/* -------LOGO--------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration: none;
}
.logo--blue {
  color: var(--second-color);
}
.logo--white {
  color: var(--tenth-color);
}

/* -------LOGO END-------- */

/* ---------HERO----------- */
.hero {
  background-color: var(--fifth-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  text-align: center;
  width: 700px;
}
.hero__heading {
  color: var(--tenth-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
/* ---------BUTTON----------- */

.button {
  color: var(--tenth-color);
  background-color: var(--second-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__hero {
  padding-left: 41px;
  padding-right: 41px;
}
.button__hero:focus,
.button__hero:hover,
.button__hero:active {
  background-color: var(--tenth-color);
  color: var(--second-color);
}
/* -----BUTTON END--------- */

/*--------0UR-ATUTS---------*/

.our-atuts__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.our-atuts__item {
  display: inline;
}
.our-atuts__item:not(:last-child) {
  margin-right: 30px;
}

.our-atuts__icon {
  background-color: var(--seventh-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 102px;
}
.our-atuts__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 10px;
}

.our-atuts__text {
  display: flex;
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}
/* ------OUR-WORK-------- */

.our-work {
  background-color: var(--ninght-color);
}
.our-work__heading {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -94px;
}
.our-work__list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.our-work__item {
  position: relative;
  display: block;
}
.our-work__image {
  display: block;
}

.our-work__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 0;
  color: var(--tenth-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ---------OUR-TEAM--------- */

.our-team {
  background-color: var(--seventh-color);
}
.our-team__heading {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 46px;
}
.our-team__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.our-team__item {
  display: inline-block;
  background-color: var(--tenth-color);
  max-width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__member-name {
  color: var(--first-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: center;
}
.our-team__member-position {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 10px;
}
/* ---------OUR-TEAM END------ */

/* ---------SOCIAL-MEDIA------- */

.social-media {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
.social-media__list {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.social-media__link {
  display: block;
  padding: 12px;
  background: var(--tenth-color);
  border-radius: 50%;
  color: var(--twelfth-color);
  transition: background, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon {
  display: block;
  fill: currentColor;
}

.social-media__link:hover,
.social-media__link:focus {
  background: var(--second-color);
  color: var(--tenth-color);
}

/* --------OUR-CLIENTS-------- */

.our-clients__heading {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-clients__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.our-clients__link {
  padding: 16px 32px;
  outline: 1px solid var(--twelfth-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: var(--twelfth-color);
  transition: color, outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__icon {
  display: block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover,
.our-clients__link:focus {
  color: var(--second-color);
  outline-color: var(--second-color);
}

/* ------------OUR-CLIENTS END--------- */

/* ------------FOOTER START------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--fifth-color);
}
.footer__content {
  display: flex;
  align-items: center;
}

.footer__address-box {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  font-style: inherit;
}

.footer__company-contacts {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 9px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}

.footer__localization-info {
  color: var(--tenth-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.footer__contact-info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-style: normal;
}
.footer__company-contacts .footer__contact-info:hover,
.footer__company-contacts .footer__contact-info:focus,
.footer__company-contacts .footer__contact-info:active {
  color: var(--second-color);
}

.footer__social-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tenth-color);
  margin-bottom: 20px;
}
.footer__social-media {
  margin-bottom: 20px;
  margin-left: 70px;
}
.footer__social-media-list {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.footer__social-link {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--tenth-color);
  padding: 12px;
  cursor: pointer;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-icon {
  display: block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: var(--tenth-color);
  background-color: var(--second-color);
}

.footer__newsletter {
  margin-left: 78px;
}

.footer__newsletter-heading {
  text-transform: uppercase;
  color: var(--tenth-color);
  width: 207px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer__newsletter-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  width: 358px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__newsletter-input:hover,
.footer__newsletter-input:active,
.footer__newsletter-input:focus {
  border: 1px solid var(--second-color);
  outline: none;
}

.button--newsletter-btn {
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
/* ------------FOOTER END------- */

/* ------------MODAL START----------- */
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--tenth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--tenth-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal__title {
  color: var(--first-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--fourth-color);
  margin-bottom: 4px;
}
.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  background: var(--tenth-color);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--fourth-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  fill: var(--first-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 40px;
  left: 15px;
  transform: translateY(-50%);
}
.modal__form-label .modal__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus-within .modal__form-input {
  border-color: var(--second-color);
  outline: none;
}

.modal__field:hover .modal__form-input {
  border-color: var(--second-color);
  outline: none;
}
.modal__field:hover .modal__icon {
  fill: var(--second-color);
}

.modal__field:focus-within .modal__icon {
  fill: var(--second-color);
}

.modal__comment-input {
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field .modal__comment-input:hover,
.modal__field .modal__comment-input:focus {
  border-color: var(--second-color);
  outline: none;
}

.button--modal {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 76px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.modal__form-statement {
  position: relative;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  margin-bottom: 30px;
  margin-left: 14px;
  padding-left: 7px;
}
.modal__form-statement-checkbox {
  opacity: 0;
}

.modal__check-icon {
  visibility: hidden;
  display: block;
  fill: var(--tenth-color);
}

.modal__border-checkbox {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-statement-checkbox:checked + .modal__border-checkbox {
  background-color: var(--second-color);
  border: none;
  outline: none;
}

.modal__form-statement-checkbox:checked + .modal__border-checkbox > .modal__check-icon {
  visibility: visible;
}

.modal__rule-link {
  text-decoration-line: underline;
  color: var(--second-color);
}

/* ------------MODAL END---------- */

/* ---------PORTFOLIO-FILTERS START-------*/

.portfolio-filters {
  margin-bottom: 50px;
  width: 580px;
}
.portfolio-filters__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 8px;
}

.portfolio-filters__efects {
  color: var(--first-color);
  background-color: var(--seventh-color);
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filters__button {
  padding: 6px 22px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filters__button:hover,
.portfolio-filters__button:focus {
  color: var(--tenth-color);
  background-color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filters__efects:hover,
.portfolio-filters__efects:focus {
  color: var(--tenth-color);
  background-color: var(--second-color);
}

/* ----------PORTFOLIO-FILTERS END------- */

 /*----------PORTFOLIO-PROJECTS START--------- */

.portfolio-projects {
  display: flex;
  padding-top: 0;
}
.portfolio-projects__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
}
.portfolio-projects__item-shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects__item-shadow:hover,
.portfolio-projects__item-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-projects__item-shadow:hover .portfolio-projects__photo-overlay {
  transform: translatey(0);
}

.portfolio-projects__photo {
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.portfolio-projects__photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects__text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--tenth-color);
  padding: 49px 45px 49px 24px;
}

.portfolio-projects__border-box {
  border-left: var(--sixth-color) solid 1px;
  border-right: var(--sixth-color) solid 1px;
  border-bottom: var(--sixth-color) solid 1px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  overflow: hidden;
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects__title {
  color: var(--first-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-projects__name {
  color: var(--fourth-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ------- PORTFOLIO-PROJECTS END--------- */
